@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

:root {
    --dark-background-color: #1F2937;

    --hero-text-color: #F9FAF8;
    --hero-text-size: 48px;
    --hero-text-weight: 900;

    --secondary-text-size: 18px;
    --secondary-text-color: #E5E7EB;

    --logo-text-size: 24px;
    --logo-text-color: #F9FAF8;
    --logo-text-weight: bold;

    --button-color: #3882F6;
    --action-background: #3882F6;

    --info-text-color: #1F2937;
    --info-text-size: 36px;
    --info-text-weight: bold;

    --quote-background: #E5E7EB;
    --quote-text-size: 36px;
    --quote-text-weight: light italic;
    --quote-text-color: #1F2937;
}


html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.first-container, .second-container, .third-container, .fourth-container {
    padding: 0 300px 100px 300px;
}

.first-container {
    background-color: var(--dark-background-color);
}

.second-container {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.logo {
    font-size: var(--logo-text-size);
    color: var(--logo-text-color);
    font-weight: var(--logo-text-weight)
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: var(--secondary-text-size);
    margin-left: 16px;
}

.hero-container {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 300px;
    flex-shrink: 0;
}

.hero-text {
    font-size: var(--hero-text-size);
    font-weight: var(--hero-text-weight);
    color: var(--hero-text-color);
}

.hero-secondary-text {
    font-size: var(--secondary-text-size);
    color: var(--secondary-text-color);
}

button {
    background-color: var(--button-color);
    font-weight: bold;
    color: var(--hero-text-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    font-size: 18px;
}

.hero-img-div {
    width: 500px;
}

.hero-img {
    width: inherit;
    height: 250px;
}

.info-header {
    font-size: var(--info-text-size);
    font-weight: var(--info-text-weight);
    color: var(--info-text-color);
    text-align: center;
    margin: 40px 0;
}

.cards-div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.card-img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--action-background);
    border-radius: 15px;
}

.card-text {
    text-align: center;
    width: 200px;
    font-size: 18px;
    color: var(--info-text-color)
}

